<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.rest_p2p.order.mapper.SubsidyPaymentPlanMapper">
	<resultMap type="com.hzfh.api.p2pOrder.model.SubsidyPaymentPlan" id="resultMapSubsidyPaymentPlan">
		<result property="id" column="id"/>
		<result property="salesNo" column="sales_no"/>
		<result property="customerNo" column="customer_no"/>
		<result property="customerName" column="customer_name"/>
		<result property="transactionAmount" column="transaction_amount"/>
		<result property="interest" column="interest"/>
		<result property="acturalInterest" column="actural_interest"/>
		<result property="paymentAmount" column="payment_amount"/>
		<result property="actualPaymentAmount" column="actual_payment_amount"/>
		<result property="paymentTime" column="payment_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="actualPaymentTime" column="actual_payment_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="productPaymentNo" column="product_payment_no"/>
		<result property="status" column="status"/>
		<result property="createDate" column="create_date" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="sn" column="sn"/>
	</resultMap>
	<select id="getList" resultMap="resultMapSubsidyPaymentPlan">
		SELECT id,sales_no,customer_no,customer_name,transaction_amount,interest,actural_interest,payment_amount,actual_payment_amount,payment_time,actual_payment_time,product_payment_no,status,create_date,sn
		FROM subsidy_payment_plan
	</select>
	<select id="getTotalCount" resultType="long" parameterType="com.hzfh.api.p2pOrder.model.query.SubsidyPaymentPlanCondition" statementType="STATEMENT">
		SELECT count(1) FROM subsidy_payment_plan where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapSubsidyPaymentPlan" parameterType="int">
		SELECT id,sales_no,customer_no,customer_name,transaction_amount,interest,actural_interest,payment_amount,actual_payment_amount,payment_time,actual_payment_time,product_payment_no,status,create_date,sn FROM subsidy_payment_plan where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.p2pOrder.model.SubsidyPaymentPlan" useGeneratedKeys="true" keyProperty="id">
		insert into subsidy_payment_plan
		(sales_no,customer_no,customer_name,transaction_amount,interest,actural_interest,payment_amount,actual_payment_amount,payment_time,actual_payment_time,product_payment_no,status,create_date,sn)
		values
		(#{salesNo},#{customerNo},#{customerName},#{transactionAmount},#{interest},#{acturalInterest},#{paymentAmount},#{actualPaymentAmount},#{paymentTime},#{actualPaymentTime},#{productPaymentNo},#{status},#{createDate},#{sn})
	</insert>
	<update id="update" parameterType="com.hzfh.api.p2pOrder.model.SubsidyPaymentPlan">
		update subsidy_payment_plan set 
		sales_no=#{salesNo},customer_no=#{customerNo},customer_name=#{customerName},transaction_amount=#{transactionAmount},interest=#{interest},actural_interest=#{acturalInterest},payment_amount=#{paymentAmount},actual_payment_amount=#{actualPaymentAmount},payment_time=#{paymentTime},actual_payment_time=#{actualPaymentTime},product_payment_no=#{productPaymentNo},status=#{status},create_date=#{createDate},sn=#{sn}
		where id=#{id}
	</update>

	
	<select id="getListByProductPaymentNo" resultMap="resultMapSubsidyPaymentPlan">
		SELECT id,sales_no,customer_no,customer_name,transaction_amount,interest,actural_interest,payment_amount,actual_payment_amount,payment_time,actual_payment_time,product_payment_no,status,create_date,sn
		FROM subsidy_payment_plan where product_payment_no = #{productPaymentNo}
	</select>
	<select id="getCustomerSubsidyIncome" resultType="decimal">
	SELECT sum(coalesce(pr.actual_payment_amount,0)) FROM subsidy_payment_plan  pr RIGHT   JOIN  product_payment_plan ppp on pr.product_payment_no=ppp.id WHERE customer_no=#{customerNo}
and ppp.`status`>=20
	</select>
	
	<update id="updateSnByProductPaymentNo" >
		update subsidy_payment_plan set 
		sn=#{sn}
		where product_payment_no=#{productPaymentNo}
	</update>
	
	<update id="updateStatusById">
		update subsidy_payment_plan set 
		status=#{status}
		where id=#{id}
	</update>	
	<select id="getSubsidyPaymentRefund" resultMap="resultMapSubsidyPaymentPlan">
		SELECT pp.product_name AS product_name, pr.transaction_amount AS transaction_amount,pp.status as status,
		sum(pr.actual_payment_amount) AS actual_payment_amount, pp.plan_pay_time AS payment_time,
		pp.actual_pay_time AS actual_payment_time, pr.actural_interest AS actural_interest
		FROM subsidy_payment_plan pr
		LEFT JOIN product_payment_plan pp ON pp.id = pr.product_payment_no
		where pr.customer_no=#{customerNo} and pr.sales_no=#{salesNo}
		GROUP BY actual_pay_time
		ORDER BY actual_pay_time asc
	</select>
	<select id="getListByProductNo" resultMap="resultMapSubsidyPaymentPlan">
		SELECT t.id, t.sales_no, t.customer_no, t.customer_name, 
		t.transaction_amount, t.interest, t.actural_interest, 
		t.payment_amount, t.actual_payment_amount, t.payment_time, 
		t.actual_payment_time, t.product_payment_no, t. STATUS, t.create_date, t.sn 
		FROM subsidy_payment_plan t, sales t1 
		WHERE t.sales_no = t1.id AND t1.product_no = #{productNo}
	</select>
</mapper>