<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.rest_p2p.product.mapper.CollateralHouseMapper">
	<resultMap type="com.hzfh.api.p2pProduct.model.CollateralHouse" id="resultMapCollateralHouse">
		<result property="id" column="id"/>
		<result property="productNo" column="product_no"/>
		<result property="area" column="area"/>
		<result property="address" column="address"/>
		<result property="worth" column="worth"/>
		<result property="mortgageDescription" column="mortgage_description"/>
		<result property="notarizationDescription" column="notarization_description"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
	</resultMap>
	<select id="getList" resultMap="resultMapCollateralHouse">
		SELECT id,product_no,area,address,worth,mortgage_description,notarization_description,in_time,in_user_no,edit_time,edit_user_no
		FROM collateral_house
	</select>
	<select id="getPagingList" resultMap="resultMapCollateralHouse" parameterType="com.hzfh.api.p2pProduct.model.query.CollateralHouseCondition" statementType="STATEMENT">
		SELECT id,product_no,area,address,worth,mortgage_description,notarization_description,in_time,in_user_no,edit_time,edit_user_no FROM collateral_house where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="long" parameterType="com.hzfh.api.p2pProduct.model.query.CollateralHouseCondition" statementType="STATEMENT">
		SELECT count(1) FROM collateral_house where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapCollateralHouse" parameterType="int">
		SELECT id,product_no,area,address,worth,mortgage_description,notarization_description,in_time,in_user_no,edit_time,edit_user_no FROM collateral_house where id=#{id}
	</select>
	<select id="getListByProductNo" resultMap="resultMapCollateralHouse">
		SELECT id,product_no,area,address,worth,mortgage_description,notarization_description,in_time,in_user_no,edit_time,edit_user_no FROM collateral_house where product_no=#{productNo}
	</select>
	<select id="getListByProductNoApp" resultType="map">
		SELECT area,address,worth,mortgage_description as mortgageDescription FROM collateral_house 
		WHERE product_no = #{productNo}
	</select>
	<insert id="add" parameterType="com.hzfh.api.p2pProduct.model.CollateralHouse" useGeneratedKeys="true" keyProperty="id">
		insert into collateral_house
		(product_no,area,address,worth,mortgage_description,notarization_description,in_time,in_user_no,edit_time,edit_user_no)
		values
		(#{productNo},#{area},#{address},#{worth},#{mortgageDescription},#{notarizationDescription},current_timestamp(),#{inUserNo},current_timestamp(),#{editUserNo})
	</insert>
	<update id="update" parameterType="com.hzfh.api.p2pProduct.model.CollateralHouse">
		update collateral_house set 
		product_no=#{productNo},area=#{area},address=#{address},worth=#{worth},mortgage_description=#{mortgageDescription},notarization_description=#{notarizationDescription},edit_time=current_timestamp(),edit_user_no=#{editUserNo}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from collateral_house where id = #{id}
	</delete>
</mapper>