<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.rest_p2p.system.mapper.AreaCityMapper">
	<resultMap type="com.hzfh.api.p2pSystem.model.AreaCity" id="resultMapAreaCity">
		<result property="id" column="id"/>
		<result property="cityCode" column="city_code"/>
		<result property="provinceCode" column="province_code"/>
		<result property="cityName" column="city_name"/>
		<result property="postcode" column="postcode"/>
		<result property="enabled" column="enabled"/>
		<result property="priority" column="priority"/>
		<result property="inUserNo" column="in_user_no"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editUserNo" column="edit_user_no"/>
		<result property="editTime" column="edit_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="editComment" column="edit_comment"/>
	</resultMap>
	<select id="getList" resultMap="resultMapAreaCity">
		SELECT id,city_code,province_code,city_name,postcode,enabled,priority,in_user_no,in_time,edit_user_no,edit_time,edit_comment
		FROM area_city
	</select>
	<select id="getPagingList" resultMap="resultMapAreaCity" parameterType="com.hzfh.api.p2pSystem.model.query.AreaCityCondition" statementType="STATEMENT">
		SELECT id,city_code,province_code,city_name,postcode,enabled,priority,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM area_city where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="long" parameterType="com.hzfh.api.p2pSystem.model.query.AreaCityCondition" statementType="STATEMENT">
		SELECT count(1) FROM area_city where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapAreaCity" parameterType="int">
		SELECT id,city_code,province_code,city_name,postcode,enabled,priority,in_user_no,in_time,edit_user_no,edit_time,edit_comment FROM area_city where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.p2pSystem.model.AreaCity" useGeneratedKeys="true" keyProperty="id">
		insert into area_city
		(city_code,province_code,city_name,postcode,enabled,priority,in_user_no,in_time,edit_user_no,edit_time,edit_comment)
		values
		(#{cityCode},#{provinceCode},#{cityName},#{postcode},#{enabled},#{priority},#{inUserNo},current_timestamp(),#{editUserNo},current_timestamp(),#{editComment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.p2pSystem.model.AreaCity">
		update area_city set 
		city_code=#{cityCode},province_code=#{provinceCode},city_name=#{cityName},postcode=#{postcode},enabled=#{enabled},priority=#{priority},edit_user_no=#{editUserNo},edit_time=current_timestamp(),edit_comment=#{editComment}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from area_city where id = #{id}
	</delete>
</mapper>