<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.rest_p2p.customer.mapper.AuthenticationRealRecordMapper">
	<resultMap type="com.hzfh.api.p2pCustomer.model.AuthenticationRealRecord" id="resultMapAuthenticationRealRecord">
		<result property="id" column="id"/>
		<result property="customerNo" column="customer_no"/>
		<result property="sn" column="sn"/>
		<result property="status" column="status"/>
		<result property="timeCreate" column="time_create" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="comment" column="comment"/>
	</resultMap>
	<select id="getList" resultMap="resultMapAuthenticationRealRecord">
		SELECT id,customer_no,sn,status,time_create,comment
		FROM authentication_real_record
	</select>
	<select id="getPagingList" resultMap="resultMapAuthenticationRealRecord" parameterType="com.hzfh.api.p2pCustomer.model.query.AuthenticationRealRecordCondition" statementType="STATEMENT">
		SELECT id,customer_no,sn,status,time_create,comment FROM authentication_real_record where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="long" parameterType="com.hzfh.api.p2pCustomer.model.query.AuthenticationRealRecordCondition" statementType="STATEMENT">
		SELECT count(1) FROM authentication_real_record where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapAuthenticationRealRecord" parameterType="int">
		SELECT id,customer_no,sn,status,time_create,comment FROM authentication_real_record where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.p2pCustomer.model.AuthenticationRealRecord" useGeneratedKeys="true" keyProperty="id">
		insert into authentication_real_record
		(customer_no,sn,status,time_create,comment)
		values
		(#{customerNo},#{sn},#{status},current_timestamp(),#{comment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.p2pCustomer.model.AuthenticationRealRecord">
		update authentication_real_record set 
		customer_no=#{customerNo},sn=#{sn},status=#{status},time_create=#{timeCreate},comment=#{comment}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from authentication_real_record where id = #{id}
	</delete>
</mapper>