<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.rest_p2p.customer.mapper.CustomerInviteAwardRuleMapper">
	<resultMap type="com.hzfh.api.p2pCustomer.model.CustomerInviteAwardRule" id="resultMapCustomerInviteAwardRule">
		<result property="id" column="id"/>
		<result property="customerType" column="customer_type"/>
		<result property="rewardRatio" column="reward_ratio"/>
		<result property="channelCode" column="channel_code"/>
		<result property="name" column="name"/>
		<result property="firstVoteAward" column="first_vote_award"/>
		<result property="url" column="url"/>
		<result property="state" column="state"/>
		<result property="useRange" column="use_range"/>
	</resultMap>
	<select id="getList" resultMap="resultMapCustomerInviteAwardRule">
		SELECT id,customer_type,reward_ratio,channel_code,name,first_vote_award,url,state,use_range
		FROM customer_invite_award_rule
	</select>
	<select id="getPagingList" resultMap="resultMapCustomerInviteAwardRule" parameterType="com.hzfh.api.p2pCustomer.model.query.CustomerInviteAwardRuleCondition" statementType="STATEMENT">
		SELECT id,customer_type,reward_ratio,channel_code,name,first_vote_award,url,state,use_range FROM customer_invite_award_rule where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="long" parameterType="com.hzfh.api.p2pCustomer.model.query.CustomerInviteAwardRuleCondition" statementType="STATEMENT">
		SELECT count(1) FROM customer_invite_award_rule where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapCustomerInviteAwardRule" parameterType="int">
		SELECT id,customer_type,reward_ratio,channel_code,name,first_vote_award,url,state,use_range FROM customer_invite_award_rule where id=#{id}
	</select>
	<select id="getInfoByType" resultMap="resultMapCustomerInviteAwardRule" >
		SELECT id,customer_type,reward_ratio,channel_code,name,first_vote_award,url,state,use_range FROM customer_invite_award_rule 
		where customer_type = #{customerType}
		<if test="channelCode!=null">and channel_code = #{channelCode}</if>
		and state=1
	</select>
	<insert id="add" parameterType="com.hzfh.api.p2pCustomer.model.CustomerInviteAwardRule" useGeneratedKeys="true" keyProperty="id">
		insert into customer_invite_award_rule
		(customer_type,reward_ratio,channel_code,name,first_vote_award,url,state)
		values
		(#{customerType},#{rewardRatio},#{channelCode},#{name},#{firstVoteAward},#{url},#{state})
	</insert>
	<update id="update" parameterType="com.hzfh.api.p2pCustomer.model.CustomerInviteAwardRule">
		update customer_invite_award_rule set 
		customer_type=#{customerType},reward_ratio=#{rewardRatio},channel_code=#{channelCode},name=#{name},first_vote_award=#{firstVoteAward},url=#{url},state=#{state}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from customer_invite_award_rule where id = #{id}
	</delete>
</mapper>