<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.rest_p2p.customer.mapper.CustomerInviteAwardMapper">
	<resultMap type="com.hzfh.api.p2pCustomer.model.CustomerInviteAward" id="resultMapCustomerInviteAward">
		<result property="id" column="id"/>
		<result property="inviteUserId" column="invite_user_id"/>
		<result property="beInvitedUser" column="beInvited_user"/>
		<result property="orderNo" column="order_no"/>
		<result property="orderAmount" column="order_amount"/>
		<result property="orderTime" column="order_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="awardAmount" column="award_amount"/>
		<result property="planPayTime" column="plan_pay_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="payTime" column="pay_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="payState" column="pay_state"/>
	</resultMap>
	<select id="getList" resultMap="resultMapCustomerInviteAward">
		SELECT id,invite_user_id,beInvited_user,order_no,order_amount,order_time,award_amount,plan_pay_time,pay_time,pay_state
		FROM customer_invite_award
		where 1=1
		<if test="beInvitedUser!=null and beInvitedUser!=0">and beInvited_user=${beInvitedUser}</if>
	</select>
	<select id="getPagingList" resultMap="resultMapCustomerInviteAward" parameterType="com.hzfh.api.p2pCustomer.model.query.CustomerInviteAwardCondition" statementType="STATEMENT">
		SELECT id,invite_user_id,beInvited_user,order_no,order_amount,order_time,award_amount,plan_pay_time,pay_time,pay_state FROM customer_invite_award where 1=1
		<if test="beInvitedUser!=null and beInvitedUser!=0">and beInvited_user=${beInvitedUser}</if>
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="long" parameterType="com.hzfh.api.p2pCustomer.model.query.CustomerInviteAwardCondition" statementType="STATEMENT">
		SELECT count(1) FROM customer_invite_award where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapCustomerInviteAward" parameterType="int">
		SELECT id,invite_user_id,beInvited_user,order_no,order_amount,order_time,award_amount,plan_pay_time,pay_time,pay_state FROM customer_invite_award where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.p2pCustomer.model.CustomerInviteAward" useGeneratedKeys="true" keyProperty="id">
		insert into customer_invite_award
		(invite_user_id,beInvited_user,order_no,order_amount,order_time,award_amount,plan_pay_time,pay_time,pay_state)
		values
		(#{inviteUserId},#{beInvitedUser},#{orderNo},#{orderAmount},#{orderTime},#{awardAmount},#{planPayTime},#{payTime},#{payState})
	</insert>
	<update id="update" parameterType="com.hzfh.api.p2pCustomer.model.CustomerInviteAward">
		update customer_invite_award set 
		invite_user_id=#{inviteUserId},beInvited_user=#{beInvitedUser},order_no=#{orderNo},order_amount=#{orderAmount},order_time=#{orderTime},award_amount=#{awardAmount},plan_pay_time=#{planPayTime},pay_time=#{payTime},pay_state=#{payState}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from customer_invite_award where id = #{id}
	</delete>
	
	<select id="getAwardList" resultType="map">
		SELECT a.id as id,a.invite_user_id as inviteUserId,a.beInvited_user as beInvitedUser,a.order_no as orderNo,a.order_amount as orderAmount,a.order_time as orderTime,a.award_amount as awardAmount,a.plan_pay_time as planPayTime,a.pay_time as payTime,a.pay_state as payState,p.name as productName,p.duration as productDuration
		FROM customer_invite_award a,sales s,product p
		where 1=1
		and a.order_no=s.id
		and s.product_no=p.id
		<if test="beInvitedUser!=null and beInvitedUser!=0">and beInvited_user=#{beInvitedUser}</if>
		ORDER BY a.order_time DESC
		LIMIT #{startIndex},#{pageSize}
	</select>
	<select id="getAwardListTotleNum" resultType="long">
		SELECT COUNT(id)
		FROM customer_invite_award
		where 1=1
		<if test="beInvitedUser!=null and beInvitedUser!=0">and beInvited_user=#{beInvitedUser}</if>		
	</select>
	
	<select id="customerRelationshipAwardFirstAwardById" resultType="BigDecimal">
		SELECT IFNULL(SUM(award_amount),0.00) as firstAwardAmount
		FROM customer_invite_award 
		where 1=1 
		and invite_user_id =#{invitedId}
		and invite_award_type=2
	</select>
	<select id="customerRelationshipAwardOrderAwardById" resultType="BigDecimal">
		SELECT IFNULL(SUM(award_amount),0.00) as firstAwardAmount
		FROM customer_invite_award 
		where 1=1 
		and invite_user_id =#{invitedId}
	</select>
	<select id="customerRelationshipAwardMonthFirstAwardById" resultType="BigDecimal">
		SELECT IFNULL(SUM(award_amount),0.00) as monthFirstAwardAmount
		FROM customer_invite_award 
		where 1=1 
		and invite_user_id =#{invitedId}
		and invite_award_type=2
		and MONTH(order_time)=MONTH(NOW())
	</select>
	<select id="customerRelationshipAwardMonthOrderAwardById" resultType="BigDecimal">
		SELECT IFNULL(SUM(award_amount),0.00) as monthFirstAwardAmount
		FROM customer_invite_award 
		where 1=1 
		and invite_user_id =#{invitedId}
		and MONTH(order_time)=MONTH(NOW())
	</select>
	
	<!-- 邀请奖励  payState 0 :待收(未发放) 1:累计(已发放) -->
	<select id="alCustomerRelationshipAwardOrderAwardById" resultType="BigDecimal">
		SELECT
		IFNULL(SUM(award_amount), 0.00) AS firstAwardAmount
		FROM
		customer_invite_award
		WHERE
		invite_user_id = #{customerNo}
		AND pay_state = #{payState}
	</select>
	
	<!-- 待收红包收益 -->
	<select id="redPacketIncoming" resultType="decimal">
		SELECT
		sum(IFNULL(b.award_value,0))
		FROM
		customer_award_relationship a
		LEFT JOIN customer_award b ON a.award_id = b.id
		LEFT JOIN sales s ON a.id = s.award_relationship_id and s.status > 10
		JOIN product_payment_plan p ON s.product_no = p.product_no
		AND p.STATUS in (0,10) and p.type = 2
		WHERE
			a.type = 1
			AND a.STATUS = 2
			AND a.customer_id = #{customerNo}
			GROUP BY
			a.customer_id
	</select>
	
	<!-- 累计红包收益 -->
	<select id="readPacketIncome" resultType="decimal">
		SELECT
		sum(IFNULL(b.award_value,0))
		FROM
		customer_award_relationship a
		LEFT JOIN customer_award b ON a.award_id = b.id
		LEFT JOIN sales s ON a.id = s.award_relationship_id and s.status > 10
		JOIN product_payment_plan p ON s.product_no = p.product_no
		AND p.STATUS >= 20 and p.type = 2
		WHERE
			a.type = 1
			AND a.STATUS = 2
			AND a.customer_id = #{customerNo}
			GROUP BY
			a.customer_id
	</select>
		<select id="alCustomerRelationshipAwardOrderAwardByIdDayNum" resultType="BigDecimal">
		SELECT IFNULL(SUM(award_amount), 0.00) AS firstAwardAmount FROM customer_invite_award 
		WHERE invite_user_id = #{customerNo} AND pay_state = #{payState} And PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( pay_time, '%Y%m' ) ) =#{dayNum}
	</select>
	<select id="redPacketIncomingDayNum" resultType="decimal">
		SELECT sum(IFNULL(b.award_value,0)) FROM customer_award_relationship a LEFT JOIN customer_award b ON a.award_id = b.id
		LEFT JOIN sales s ON a.id = s.award_relationship_id
		JOIN product_payment_plan p ON s.product_no = p.product_no
		AND p.STATUS in (0,10) and p.type = 2 And PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( p.actual_pay_time, '%Y%m' ) ) =#{dayNum}
		WHERE a.type = 1 AND a.STATUS = 2 AND a.customer_id = #{customerNo}  GROUP BY a.customer_id 
	</select>
	<select id="readPacketIncomeDayNum" resultType="decimal">
		SELECT sum(IFNULL(b.award_value,0)) FROM customer_award_relationship a LEFT JOIN customer_award b ON a.award_id = b.id
		LEFT JOIN sales s ON a.id = s.award_relationship_id  
		JOIN product_payment_plan p ON s.product_no = p.product_no
		AND p.STATUS >= 20 and p.type = 2  And PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( p.actual_pay_time, '%Y%m' ) ) =#{dayNum}
		WHERE a.type = 1 AND a.STATUS = 2 AND a.customer_id = #{customerNo} GROUP BY a.customer_id
	</select>
</mapper>