<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.rest_p2p.customer.mapper.PaymentMoneyWithdrawMapper">
	<resultMap type="com.hzfh.api.p2pCustomer.model.PaymentMoneyWithdraw" id="resultMapPaymentMoneyWithdraw">
		<result property="id" column="id"/>
		<result property="sn" column="sn"/>
		<result property="customerNo" column="customer_no"/>
		<result property="bankCode" column="bank_code"/>
		<result property="bankCardNo" column="bank_card_no"/>
		<result property="bankCardName" column="bank_card_name"/>
		<result property="amount" column="amount"/>
		<result property="bankTime" column="bank_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="state" column="state"/>
		<result property="factorage" column="factorage"/>
		<result property="payParty" column="pay_party"/>
		<result property="comment" column="comment"/>
		<result property="timeCreate" column="time_create" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
	</resultMap>
	<select id="getList" resultMap="resultMapPaymentMoneyWithdraw">
		SELECT id,sn,customer_no,bank_code,bank_card_no,bank_card_name,amount,bank_time,state,factorage,pay_party,comment,time_create
		FROM payment_money_withdraw
	</select>
	<select id="getPagingList" resultMap="resultMapPaymentMoneyWithdraw" parameterType="com.hzfh.api.p2pCustomer.model.query.PaymentMoneyWithdrawCondition" statementType="STATEMENT">
		SELECT id,sn,customer_no,bank_code,bank_card_no,bank_card_name,amount,bank_time,state,factorage,pay_party,comment,time_create FROM payment_money_withdraw where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="long" parameterType="com.hzfh.api.p2pCustomer.model.query.PaymentMoneyWithdrawCondition" statementType="STATEMENT">
		SELECT count(1) FROM payment_money_withdraw where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapPaymentMoneyWithdraw" parameterType="int">
		SELECT id,sn,customer_no,bank_code,bank_card_no,bank_card_name,amount,bank_time,state,factorage,pay_party,comment,time_create FROM payment_money_withdraw where id=#{id}
	</select>
	<select id="getInfoBySn" resultMap="resultMapPaymentMoneyWithdraw">
		SELECT id,sn,customer_no,bank_code,bank_card_no,bank_card_name,amount,bank_time,state,factorage,pay_party,comment,time_create 
		FROM payment_money_withdraw where sn=#{sn}
	</select>
	<insert id="add" parameterType="com.hzfh.api.p2pCustomer.model.PaymentMoneyWithdraw" useGeneratedKeys="true" keyProperty="id">
		insert into payment_money_withdraw
		(sn,customer_no,bank_code,bank_card_no,bank_card_name,amount,bank_time,state,factorage,pay_party,comment,time_create)
		values
		(#{sn},#{customerNo},#{bankCode},#{bankCardNo},#{bankCardName},#{amount},#{bankTime},#{state},#{factorage},#{payParty},#{comment},#{timeCreate})
	</insert>
	<update id="update" parameterType="com.hzfh.api.p2pCustomer.model.PaymentMoneyWithdraw">
		update payment_money_withdraw set 
		sn=#{sn},customer_no=#{customerNo},bank_code=#{bankCode},bank_card_no=#{bankCardNo},bank_card_name=#{bankCardName},amount=#{amount},bank_time=#{bankTime},state=#{state},factorage=#{factorage},pay_party=#{payParty},comment=#{comment},time_create=#{timeCreate}
		where id=#{id}
	</update>
	<update id="updateStateBySn" parameterType="com.hzfh.api.p2pCustomer.model.PaymentMoneyWithdraw">
		update payment_money_withdraw set 
		state=#{withdraSuccess}
		where sn=#{sn}
	</update>
	<delete id="delete" parameterType="int">
		delete from payment_money_withdraw where id = #{id}
	</delete>
</mapper>