<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.rest_p2p.payment.mapper.ExamineCallbackRecordMapper">
	<resultMap type="com.hzfh.api.p2pPayment.model.ExamineCallbackRecord" id="resultMapExamineCallbackRecord">
		<result property="id" column="id"/>
		<result property="sn" column="sn"/>
		<result property="serviceName" column="service_name"/>
		<result property="status" column="status"/>
		<result property="inTime" column="in_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
		<result property="operationType" column="operation_type"/>
		<result property="source" column="source"/>
		<result property="comment" column="comment"/>
	</resultMap>
	<select id="getList" resultMap="resultMapExamineCallbackRecord">
		SELECT id,sn,service_name,status,in_time,operation_type,source,comment
		FROM examine_callback_record
	</select>
	<select id="getPagingList" resultMap="resultMapExamineCallbackRecord" parameterType="com.hzfh.api.p2pPayment.model.query.ExamineCallbackRecordCondition" statementType="STATEMENT">
		SELECT id,sn,service_name,status,in_time,operation_type,source,comment FROM examine_callback_record where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="long" parameterType="com.hzfh.api.p2pPayment.model.query.ExamineCallbackRecordCondition" statementType="STATEMENT">
		SELECT count(1) FROM examine_callback_record where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapExamineCallbackRecord" parameterType="int">
		SELECT id,sn,service_name,status,in_time,operation_type,source,comment FROM examine_callback_record where id=#{id}
	</select>
	<select id="getInfoByOperationTypeAndSn" resultMap="resultMapExamineCallbackRecord">
		SELECT id,sn,service_name,status,in_time,operation_type,source,comment FROM examine_callback_record where operation_type=#{operationType} and sn=#{sn}
	</select>
	<insert id="add" parameterType="com.hzfh.api.p2pPayment.model.ExamineCallbackRecord" useGeneratedKeys="true" keyProperty="id">
		insert into examine_callback_record
		(sn,service_name,status,in_time,operation_type,source,comment)
		values
		(#{sn},#{serviceName},#{status},current_timestamp(),#{operationType},#{source},#{comment})
	</insert>
	<update id="update" parameterType="com.hzfh.api.p2pPayment.model.ExamineCallbackRecord">
		update examine_callback_record set 
		sn=#{sn},service_name=#{serviceName},status=#{status},operation_type=#{operationType},source=#{source},comment=#{comment}
		where id=#{id}
	</update>
	<update id="updateStatusBySnAndOperationType" parameterType="com.hzfh.api.p2pPayment.model.ExamineCallbackRecord">
		update examine_callback_record set 
		status=#{status}
		where sn=#{sn} and operation_type=#{operationType} and status = 0
	</update>
	<delete id="delete" parameterType="int">
		delete from examine_callback_record where id = #{id}
	</delete>
</mapper>