<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzfh.rest_p2p.payment.mapper.PaymentBankInfoMapper">
	<resultMap type="com.hzfh.api.p2pPayment.model.PaymentBankInfo" id="resultMapPaymentBankInfo">
		<result property="id" column="id"/>
		<result property="bankName" column="bank_name"/>
		<result property="bankCode" column="bank_code"/>
		<result property="bankLogo" column="bank_logo"/>
		<result property="enable" column="enable"/>
		<result property="platformNo" column="platform_no"/>
	</resultMap>
	<select id="getList" resultMap="resultMapPaymentBankInfo">
		SELECT id,bank_name,bank_code,bank_logo,enable,platform_no
		FROM payment_bank_info
	</select>
	<select id="getPagingList" resultMap="resultMapPaymentBankInfo" parameterType="com.hzfh.api.p2pPayment.model.query.PaymentBankInfoCondition" statementType="STATEMENT">
		SELECT id,bank_name,bank_code,bank_logo,enable,platform_no FROM payment_bank_info where 1=1
		ORDER BY
		<foreach item="item" collection="sortItemList" separator=",">
			${item.sortFeild} ${item.sortType}
		</foreach>
		LIMIT ${startIndex},${pageSize}
	</select>
	<select id="getTotalCount" resultType="long" parameterType="com.hzfh.api.p2pPayment.model.query.PaymentBankInfoCondition" statementType="STATEMENT">
		SELECT count(1) FROM payment_bank_info where 1=1
	</select>
	<select id="getInfo" resultMap="resultMapPaymentBankInfo" parameterType="int">
		SELECT id,bank_name,bank_code,bank_logo,enable,platform_no FROM payment_bank_info where id=#{id}
	</select>
	<insert id="add" parameterType="com.hzfh.api.p2pPayment.model.PaymentBankInfo" useGeneratedKeys="true" keyProperty="id">
		insert into payment_bank_info
		(bank_name,bank_code,bank_logo,enable,platform_no)
		values
		(#{bankName},#{bankCode},#{bankLogo},#{enable},#{platformNo})
	</insert>
	<update id="update" parameterType="com.hzfh.api.p2pPayment.model.PaymentBankInfo">
		update payment_bank_info set 
		bank_name=#{bankName},bank_code=#{bankCode},bank_logo=#{bankLogo},enable=#{enable},platform_no=#{platformNo}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from payment_bank_info where id = #{id}
	</delete>
	<select id="getInfoByBankCode" resultMap="resultMapPaymentBankInfo">
		SELECT id,bank_name,bank_code,bank_logo,enable,platform_no
		FROM payment_bank_info where bank_code = #{bankCode}
	</select>
	
	<select id="getInfoByBankCodeAndPlatformNo" resultMap="resultMapPaymentBankInfo">
		SELECT id,bank_name,bank_code,bank_logo,enable,platform_no
		FROM payment_bank_info where bank_code = #{bankCode} and platform_no = #{platformNo}
	</select>
	
</mapper>